In [20]:
# Ans 1: 

# We can comment in the python using control+farward slas (#) and also by tripple single inverted comma or tripple double inverted comma.
# Ther are three type of comment single line , multi line and docstring.

In [ ]:
# Ans 2:  

#  Variables in python is just like containers which is used to store data values.
#  we does not write any data type for variable in python ,rather we directly write variable name = data and pyhton automatically underatand
#  data type of the variable according to the data stored in the variable
#  example: x=10 ,pyhon will give data type "int".

In [4]:
#  Ans 3 :

# There are two type of data type conversion in python i) implicit conversion in which python automatically convert and 
#  ii)   explicit conversion in which we use built in function to convert from one data to another ex. str(),int(),float(), list(),etc.
#  example: 
x=10
y=str(x)
type(x)

int

In [16]:
type(y)

str

In [6]:
#  Ans 4:

#  To run a Python script store in a ‘.py’ file in command line, we have to write ‘python’ keyword before the file name in the command prompt.
#  python file_name.py
#  Now we can run the code
# ex. print(hello) and press enter ,it  will give output

In [7]:
# Ans 5:

my_list=[1,2,3,4,5]
#  slicing
my_list[0:4]

[1, 2, 3, 4]

In [8]:
# obtaining sublist [2,3]
l=[]
for i in my_list:
    if i==2 or i==3:
        l.append(i)

In [17]:
l
#  required sublist obtained

[2, 3]

In [10]:
#  Ans 6:

#  Complex number in mathematics are combination of real and imaginary number where imaginary number are denoted with iota 'i'
#  where as  complex number in python are same as in mathematics but there is no concept of iota 'i' rather we use j in place of i.

In [11]:
 # Ans 7: 
    
#  The correct way to declare variable named age and assign 25 to it is
age=25
age

25

In [12]:
#  Ans 8:
price = 9.99
#  this data type belong to float data type
type(price)

float

In [13]:
#  Ans 9:
name="Amit yadav"
print(name)

Amit yadav

In [15]:
#  Ans 10:
s="hello world!"
print(s[6:11])

world

In [19]:
#  Ans 11:
is_student=True
if is_student==1:
    print(" you are a student")
else:
    print(" you are not a student")

 you are a student